<!doctype html>
<html lang="en">

<head>
    <title>NEXUSINMOBILIARIO</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles-header.css">
    <link rel="stylesheet" href="/styles-agents-properties.css">
</head>

<body>
    <header>
        <nav>
            <ul class="nav-list">
                <li><a href="/home" class="home">Home</a></li>
                <li><a href="/agent" class="agents">Agents</a></li>
                <li><a href="/property-list" class="properties">List of Properties</a></li>
                <li><a href="/customers" class="customers">Customer List</a></li>
                <li><a href="#" class="profile">Profile</a></li>
            </ul>
        </nav>
    </header>

    <% if (agent){ %>
        <input id="id" name="id" value="<%= agent.agent_id %>" hidden>
        <div class="container">
            <div class="left">
                <h4>
                    <%= agent.name %>
                </h4>
            </div>
            <div class="right">
                <h4>PROPERTIES IN CHARGE</h4>
            </div>
        </div>
        <div class="container">
            <div class="left">
                <ul class="lista">
                    <li>
                        <input class="checkbox-roja" type="checkbox" value="" id="c1">
                        <label class="checkbox-label" for="c1">Charge: <%= agent.rol %></label>
                    </li>
                    <li>
                        <input class="checkbox-roja" type="checkbox" value="" id="c2">
                        <label class="checkbox-label" for="c2">ID: <%= agent.agent_id %></label>
                    </li>
                    <li>
                        <input class="checkbox-roja" type="checkbox" value="" id="c3">
                        <label class="checkbox-label" for="c3">Was hired at: <%= agent.time.toLocaleDateString() %> 
                        </label>
                    </li>
                    <li>
                        <input class="checkbox-roja" type="checkbox" value="" id="c4">
                        <label class="checkbox-label" for="c4">Contact: <%= agent.email %></label>
                    </li>
                </ul>
            </div>
            <div class="right">
                <ul class="lista">
                    <% properties.forEach((item)=> {%>
                        <li>
                            <input class="checkbox-circle" type="checkbox" value="" id="r1">
                            <label class="checkbox-label" for="r1"><%= item.address%></label>
                            <a href="../property-details/<%= item.property_id%>">
                                <button class="boton-rojo">See</button>
                            </a>
                        </li>
                        <% }) %>
                </ul>
            </div>
        </div>
        <% } %>
            <div class="container">
                <div class="left">
                    <button class="botonAtras">&lt;</button>
                </div>
                <div class="right">
                    <div class="form-check">
                        <a href="/property-assignment" class="button-link">
                            <button class="addProperty">+</button>
                            <label class="checkbox-label" for="add">ASSIGNING PROPERTY</label>
                        </a>
                    </div>
                </div>
            </div>
</body>

</html>