<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles-customeredit.css">
  <title>Home</title>
</head>
<body>
    <div class="header">
        <ul class="nav-list">
          <li><a href="/home" class="home">Home</a></li>
          <li><a href="/agent" class="agents">Agents</a></li>
          <li><a href="/property-list" class="properties">List of Properties</a></li>
          <li><a href="#" class="customers">Customer List</a></li>
          <li><a href="#" class="profile">Profile</a></li>
        </ul>
      </div>

      <% if (customer){ %>

        <form action="/update" method="post">
          <input id="id" name="id" value="<%= customer.customer_id %>" hidden>
    

      <div class="customer-form">
        <div class="top-row">
          <div class="input-container">
            <input type="text" id="NAME" name="NAME" value="<%= customer.name %>" required placeholder="NAME">
          </div>
          <div class="input-container">
            <input type="text" id="SALES" name="SALES" value="<%= customer.sales %>" required placeholder="SALES">
          </div>
          <div class="input-container">
            <input type="text" id="AGENT_ID" name="AGENT_ID" value="<%= customer.agent_id %>" required placeholder="AGENT_ID">
            
          </div>
        </div>
      
        <div class="middle-row">
          <div class="input-container">
            <input type="text" id="CELLPHONE" name="CELLPHONE" value="<%= customer.cell_number %>" required placeholder="CELLPHONE">
          </div>
          <div class="input-container">
            <input type="text" id="EMAIL" name="EMAIL" value="<%= customer.email %>" required placeholder="EMAIL">
          </div>
         
        </div>
        
      
        <div class="submit-button-container">
          <button type="submit" class="submit-button" tabindex="5">UPDATE</button>
        </div>

        <div class="cancelar">
          <a href="/customer" class="cancelar">Cancelar</a>
        </div>

      </div>
      </form>

      <% } %>
      
      
    
    
    </body>
    </html>