<!doctype html>
<html lang="en">

<head>
    <title>NEXUSINMOBILIARIO</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles-customerproperties.css">

</head>

<body>
    <header>
        <nav>
            <ul class="nav-list">
                <li><a href="/home" class="home">Home</a></li>
                <li><a href="/agent" class="agents">Agents</a></li>
                <li><a href="/property-list" class="properties">List of Properties</a></li>
                <li><a href="#" class="customers">Customer List</a></li>
                <li><a href="#" class="profile">Profile</a></li>
            </ul>
        </nav>
    </header>

    <% if (customer){ %>
        <input id="id" name="id" value="<%= customer.customer_id %>" hidden>
    <div class="container">
        <div class="left">
            <h4><%=customer.name %></h4>
        </div>
        
    </div>
    <div class="container">
        <div class="left">
            <ul class="lista">
                <li>
                    <input class="checkbox-roja" type="checkbox" value=""    id="c1">
                    <label class="checkbox-label" for="c1">Sales: <%=customer.sales %></label>
                </li>
                <li>
                    <input class="checkbox-roja" type="checkbox" value="" id="c2">
                    <label class="checkbox-label" for="c2">Email: <%=customer.email %></label>
                </li>
                <li>
                    <input class="checkbox-roja" type="checkbox" value="" id="c3">
                    <label class="checkbox-label" for="c3">ID: <%=customer.customer_id %></label>
                </li>
                <li>
                    <input class="checkbox-roja" type="checkbox" value="" id="c4">
                    <label class="checkbox-label" for="c4">Contact: <%=customer.cell_number %></label>
                </li>
                <li>
                    <input class="checkbox-roja" type="checkbox" value="" id="c5">
                    <label class="checkbox-label" for="c4">Agent: <%=customer.agent_id %></label>
                </li>
            </ul>

        </div>
        <% } %>
        <div class="right">
           <img src="/profile.JPG">
        </div>
        
    </div>
    <div class="container">
        <div class="left">
            <button class="botonAtras">&lt;</button>
        </div>
        
    </div>
</body>

</html>