<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Property</title>
    <link rel="stylesheet" href="/styles-header.css">
    <link rel="stylesheet" href="/styles-new-property.css">
</head>

<body>
    <header>
        <nav>
            <ul class="nav-list">
                <li><a href="/home" class="home">Home</a></li>
                <li><a href="/agent" class="agents">Agents</a></li>
                <li><a href="/property-list" class="properties">List of Properties</a></li>
                <li><a href="/customers" class="customers">Customer List</a></li>
                <li><a href="#" class="profile">Profile</a></li>
            </ul>
        </nav>
    </header>
    <div class="form-container">
    <% if (results) { %>
        <form action="/updatehistory" method="POST">
            <!-- Data of history table -->
            <label for="">History of apartment</label>
            <input name="history_id" id="history_id" value="<%= results.history_id %>" required hidden>
            <input name="property_id" id="property_id" value="<%= results.property_id %>" required hidden>
            <select name="customer_name" id="customer_name" required>
                <option value="" disabled selected>Select the customer</option>
                <% customers.forEach((customer)=> {%>
                    <option <%= results.customer_id === customer.customer_id ? "selected" : '' %>>
                        <%= customer.name%>
                    </option>
                    <% }); %>
            </select>
            <select name="rol" id="rol">
                <option value="" disabled selected>Ownership Status</option>
                <option <%= results.rol === 'Owner' ? "selected" : '' %> value="Owner">Owner</option>
                <option <%= results.rol === 'Tenant' ? "selected" : '' %> value="Tenant">Tenant</option>
            </select>
            <input type="number" name="cost" id="cost" min="0" required placeholder="Sell Price" value="<%= results.cost%>">
            <input type="date" name="date" id="date" value="<%= results.date.toLocaleDateString().replace(/\//g, '-').split('-').map(e => e.length === 1 ? `0${e}` : e).reverse().join('-')%>">
            <button class="button" type="submit">Guardar</button> 
            <a href="/history-list/<%= results.property_id%>" class="button-link">Cancel</a>
        </form>
        <% } %>
    </div>
</body>

</html>